body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    background-color: #343a40;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

}

.navbar-toggler {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

    .navbar-nav li {
        margin-right: 15px;
        padding: 0.5rem;
    }

.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#create-ride {
    background-color: #33a651;
    border-radius: 25px;
    font-weight: 700;
}

/* Add responsive styles as needed */
@media (max-width: 768px) {
    .navbar-collapse {
        display: none;
        flex-basis: 100%;
        margin-top: 10px;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-nav {
        flex-direction: column;
    }

        .navbar-nav li {
            margin: 5px 0;
        }
}
